.bank-icon{
  display: block;
  width: 80px;
  height: 80px;
  background-size: cover;
}

.bank-abc{
  background-image: url(./assets/img/cardmap/abc.png);
}

.bank-bobj{
  background-image: url(./assets/img/cardmap/bobj.png);
}

.bank-boc{
  background-image: url(./assets/img/cardmap/boc.png);
}

.bank-bocomm{
  background-image: url(./assets/img/cardmap/bocomm.png);
}

.bank-ccb{
  background-image: url(./assets/img/cardmap/ccb.png);
}

.bank-ccb2{
  background-image: url(./assets/img/cardmap/ccb2.png);
}

.bank-cebb{
  background-image: url(./assets/img/cardmap/cebb.png);
}

.bank-cmb{
  background-image: url(./assets/img/cardmap/cmb.png);
}

.bank-cmsb{
  background-image: url(./assets/img/cardmap/cmsb.png);
}

.bank-default{
  background-image: url(./assets/img/cardmap/default.png);
}

.bank-icbc{
  background-image: url(./assets/img/cardmap/icbc.png);
}

.bank-pab{
  background-image: url(./assets/img/cardmap/pab.png);
}

.bank-psboc{
  background-image: url(./assets/img/cardmap/psboc.png);
}

.bank-shb{
  background-image: url(./assets/img/cardmap/shb.png);
}
.bank-spdb{
  background-image: url(./assets/img/cardmap/spdb.png);
}
.bank-szdb{
  background-image: url(./assets/img/cardmap/szdb.png);
}
