/*头部焦点*/
.h-top{
  height: 360px;
  font-size: 0;
  img{
    width: 100%;
  }
}

.mint-swipe{
  height: 360px;
}

.bg-white{
  background-color: #fff !important;
}

.my-bankcard,.my-bankcard-haved {
  display: block;
  width: 600px;
  background-color: #fff;
  border: 1px solid #dedfe0;
  border-radius: 12px;
  margin: 20px auto 0;
  height: 100px;
  line-height: 100px;
  &>.add{
    display: inline-block;
    width: 32px;
    height: 34px;
    margin-left: 22px;
    background: url(./assets/img/plus.png);
    background-size: cover;
    vertical-align: middle;
  }
  &>span{
    margin-left: 24px;
    font-size: 24px;
    color: #bbbbbe;
    vertical-align: middle;
  }
}

.my-bankcard-haved {
  position: relative;
  height: 132px;
  line-height: 26px;;
  .bank-icon{
    display: block;
    width: 80px;
    height: 80px;
    float: left;
    margin: 24px 0 0 20px;
  }
  &>div{
    margin: 34px 0 0 24px;
    float: left;
    .bank-name{
      color: #33333e;
      font-size: 30px;
    }
    .card-info{
      margin-top: 12px;
      color: #66666e;
      font-size: 22px;
      span{
        margin-left: 20px;
      }
    }
  }
  .arrow{
    display: block;
    position: absolute;
    width: 20px;
    height: 33px;
    right: 32px;
    top: 46px;
    background: url(./assets/img/arrow.png);
    background-size: cover;
  }
}

// 登录注册公共样式
.uzone-icon{
  position: relative;
  width: 224px;
  height: 234px;
  margin: 0 auto;
  bottom: -22px;
  background: url(./assets/img/uzone-icon.png);
  background-size: cover;
}
.user-form{
  width: 600px;
  margin: 0 auto;
  .form-wrap{
    border: 2px #2ecca1 solid;
    border-radius: 16px;
  }
  .form-input{
    padding: 6px 0;
    margin: 0 28px;
    border-bottom: 1px #dedfe0 solid;
    &:last-child{
      border: none;
    }
    input{
      color: #66666e;
      font-size: 24px;
    }

    input::-webkit-input-placeholder {
      color: #ccccce;
    }
  }
  .btn{
    display: inline-block;
    width: 540px;
    height: 76px;
    line-height: 76px;
    border-radius: 36px;
    text-align: center;
    font-size: 26px;
    outline: none;
    border: none;
  }
}

