.icon {
  background: #fff no-repeat center center;
  width: 26px;
  height: 37px;
  background-size: contain;
}

.icon-phone {
  background-image: url('./assets/img/icon/icon-phone.png');
}

.icon-verification {
  background-image: url('./assets/img/icon/icon-verification.png');
  width: 32px;
  height: 41px;
}

.icon-graphic {
  background-image: url('./assets/img/icon/icon-graphic.png');
  width: 32px;
  height: 34px;
}

.icon-password {
  background-image: url('./assets/img/icon/icon-password.png');
  width: 32px;
  height: 41px;
}

.icon-eye {
  background-image: url('./assets/img/icon/icon-eye.png');
  width: 41px;
  height: 26px;
}

.icon-eye-hidden {
  background-image: url('./assets/img/icon/icon-eye-hidden.png');
  width: 41px;
  height: 26px;
}

.icon-success{
  display: inline-block;
  width: 98px;
  height: 98px;
  background: url(./assets/img/success.png);
  background-size: cover;
}

.icon-fail{
  display: inline-block;
  width: 91px;
  height: 90px;
  background: url(./assets/img/fail.png);
  background-size: cover;
}

.icon-voice{
  display: inline-block;
  width: 78px;
  height: 78px;
  background: url(./assets/img/voice.png);
  background-size: cover;
}

.icon-registered{
  width: 83px;
  height: 107px;
  background-image: url('./assets/img/icon/icon-registered.png');
  background-size: contain;
}
