$primary:#44444e;//重要文字信息，内面标题信息等
$secondary:#66666e;//普通级段落信息，引导词
$commonly:#bbbbbe;//辅助，将要的文字信息，不可用按钮等
$border:#dedfe0;//间隔，线条，图片描边
$bg-body:#f2f2f2;//底色，分割模块的底色
$green:#00c696;
$blue:#7353eb;
$red:#e36509;
$white:#fff;
$black:#000;
